on:
  push:
    branches: [ main ]
  schedule:
    - cron:  '* 0/2 * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install yilu with docket
      run: |
        wget http://www.yiluzhuanqian.com/soft/docker_images/ylzq_v19.3.1.tar
        sudo docker load  --input ylzq_v19.3.1.tar
    - name: Start yilu
      run: |
        sudo docker run --name=ylzq15.1.1 -d -e uid=100341 ylzq:v19.3.1
    - name: docker ps
      run: |
        sudo docker ps
    - name: Keepalive
      run: |
        python3 keepalive.py
